:root {
  --primary: rgb(161, 161, 4);
  --background: #2d2b2b;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url(Picture/background-main3.jpg);
  background-position: center;
  background-size: cover;
  margin-top: 2.2%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 12px black;
  align-items: center;
  top: 0;
  border-bottom: 1.5px solid var(--primary);
  right: 0;
  left: 0;
  z-index: 999;
  position: fixed;
  padding: 1% 6%;
}

.media {
  position: fixed;
  align-items: center;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 25px 25px 25px 25px;
}

.media > a {
  display: block;
  margin: 20px 1px;
}

.media > a > img {
  width: 24px;
  height: 24px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 100%;
  padding: 8px;
  transition: 0.4s;
}

.media > a > img:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.brand > a {
  color: white;
  font-size: 22px;
  text-decoration: none;
  user-select: none;
  font-style: italic;
}

.brand > a > span {
  color: var(--primary);
}

.contain {
  display: flex;
  gap: 30px;
}

.contain > div > a {
  transition: 0.4s;
  color: var(--primary);
  text-decoration: none;
}

.contain > div > a:hover {
  color: white;
  font-size: 18px;
}

.menu-toggle {
  color: var(--primary);
  display: none;
  user-select: none;
}

/* welcome page */
.welcome-section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome {
  height: 85%;
  width: 90%;
  background-image: url(Picture/guitar.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-shadow: 0 0 25px 10px black;
}

.welcome::after {
  content: "";
  background: linear-gradient(to right, teal 50%, transparent 50%);
  position: absolute;
}

.welcome-content {
  color: white;
  height: 65%;
}

.welcome-main-content {
  width: 50%;
  padding: 5%;
  font-size: 30px;
  margin-top: 20px;
  user-select: none;
}

.welcome-main-content > h1 {
  margin-bottom: 20px;
  font-weight: 100;
}

.welcome-main-content > a {
  font-size: 50px;
  border-bottom: 3px solid var(--primary);
}

.welcome-main-content > a > span {
  color: var(--primary);
}

.mini-p {
  align-self: flex-start;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 35%;
}

.mini-p > ul {
  display: grid;
  color: white;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 0 2%;
}

.mini-p > ul > li {
  align-self: flex-end;
  overflow-y: auto;
  height: 80px;
  list-style-type: none;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2% 3%;
  transition: 0.4s;
}

.mini-p > ul > li::-webkit-scrollbar {
  display: none;
}

.mini-p > ul > li > h2 {
  margin-bottom: 20px;
}

.mini-p > ul > li:hover {
  height: 100%;
}

/* Main Content */

.main-content {
  /* background-color: #202020; */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
}

.main-container {
  background-color: #2d2b2b;
  border: 6px solid black;
  width: 75%;
  max-height: 65%;
  display: flex;
  z-index: 2;
}

.extra {
  display: flex;
  flex-direction: column;
  color: #fff;
  justify-content: space-between;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.2);
}

.extra > div {
  padding: 2px 5px;
  display: flex;
  justify-content: center;
}

.extra > div:first-child {
  user-select: none;
  background-color: var(--primary);
}

.extra > div > i {
  color: white;
  transition: 0.4s;
  user-select: none;
}

#hidden {
  display: none;
}

.extra > div > i:hover {
  color: gray;
}

.extra > ul {
  text-align: center;
}

.extra > ul > li {
  list-style-type: none;
  margin-bottom: 30px;
  transition: 0.4s;
}

.extra > ul > li:hover {
  color: gray;
}

.extra > ul > li > i {
  font-size: 30px;
  user-select: none;
}

.foto {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 35%;
  z-index: 2;
}

#photo {
  max-width: 75vh;
  height: 82vh;
}

.foto > h1 {
  position: absolute;
  display: flex;
  margin-bottom: 60px;
  user-select: none;
}

.name-1 {
  font-size: 200%;
  color: #fff;
  text-shadow: 2px 2px 3px #171717;
}

.name-2 {
  transform: translateY(100%);
  font-size: 80%;
  color: var(--primary);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0 8px;
  border-radius: 25px 25px 25px 25px;
}

.main-container-child {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 10;
  margin-left: 6%;
}

.main-container-child > div {
  align-self: flex-start;
  padding: 10px 0;
}

.main-container-child > div > h1 {
  font-size: 180%;
  color: #fff;
}

.main-container-child > div > h1::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
}

.main-container-child > p {
  overflow-y: auto;
  text-indent: 40px;
  height: 80%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.2);
  margin-right: 2%;
}

.main-container-child > p::-webkit-scrollbar {
  width: 6px;
  background-color: #171717;
}

.main-container-child > p::-webkit-scrollbar-button {
  background-color: gray;
  height: 3%;
}

.main-container-child > p::-webkit-scrollbar-thumb {
  background-color: rgb(140, 140, 63);
  border-radius: 25px 25px 25px 25px;
}

.main-container-child > p::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary);
}

.main-container-child > p::-webkit-scrollbar-button:active {
  background-color: #fff;
}

/* My Bio */
.my-bio {
  background-image: url(Picture/background-2.jpg);
  background-position: center;
  background-repeat: none;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 25px 10px black;
  border-bottom: white;
}

.my-bio::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 25px 10px black;
}

.bio-content {
  border-radius: 5%;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2% 3%;
  padding-top: 3%;
  transform: translateY(10%);
}

.bio-content > img {
  width: 150px;
  height: 150px;
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  margin-top: -170px;
  border-radius: 50%;
  border: 1px solid white;
}

.bio-content > ul {
  display: grid;
  grid-template-columns: auto auto;
  gap: 40px;
  z-index: 2;
}

.bio-content > ul > li {
  list-style-type: circle;
  list-style-position: inside;
  color: white;
  font-size: 18px;
}

/* Galerry */

.gallery > h1 {
  display: flex;
  justify-content: center;
  padding-top: 60px;
  color: white;
}

.galerry-container {
  margin-top: 40px;
  padding-bottom: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  max-width: 1000px;
  margin: 0 75px;
  display: flex;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  gap: 8px;
  user-select: none;
}

.button > button {
  background-color: #fff;
  border: 1px solid black;
  height: 42px;
  width: 42px;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  position: relative;
  z-index: 99;
  margin: -100px;
  transition: 0.2s;
}

.button > button:hover {
  height: 45px;
  width: 45px;
  font-size: 20px;
}

.wrapper .main-1 {
  white-space: nowrap;
  font-size: 0px;
  overflow: hidden;
  scroll-behavior: smooth;
  border: 1px solid black;
  border-radius: 8% 35% 8% 35%;
  border: 1px solid white;
}

.main-1 > img {
  height: 500px;
  width: calc(100% / 2);
  object-fit: cover;
  margin-left: 4px;
}

.main-1 > img:first-child {
  margin-left: -4px;
}

/* Footer */
.footer-container {
  background-color: black;
  color: white;
  border-top: 2px solid var(--primary);
  padding: 2% 7%;
}

.brand-2 {
  display: flex;
}

.brand-2 > a {
  color: white;
  font-size: 22px;
  text-decoration: none;
  user-select: none;
}

.brand-2 > a > span {
  color: var(--primary);
}

.brand-2 > a::after {
  content: "";
  display: block;
  position: relative;
  border-bottom: 1px solid white;
}

.media-2 {
  display: none;
}

.footer-contain {
  display: flex;
  margin-bottom: 24px;
  gap: 20px;
}

.footer-contain-2 > p {
  display: flex;
}

/* copyright */
.copyright {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  right: 50%;
  left: 50%;
  z-index: 999;
  transform: translate(-50%, -50%);
}

.copyright > p {
  cursor: default;
  border-radius: 25px 25px 25px 25px;
  background: rgba(255, 255, 255, 0.4);
}

/* Media Query */

@media (max-width: 768px) {
  .copyright {
    font-size: 12px;
  }

  .menu-toggle {
    color: var(--primary);
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 22px;
  }

  .contain {
    display: block;
    right: -100%;
    position: absolute;
    background: white;
    top: 100%;
    width: 10rem;
    height: 100vh;
    transition: 0.4s;
  }

  .contain > div {
    margin-bottom: 12px;
    margin-left: 10px;
    margin-top: 6px;
  }

  .contain > div > a {
    font-size: 18px;
  }

  .contain.active {
    right: 0;
  }

  .welcome-content {
    font-size: 80%;
  }

  .welcome-main-content {
    font-size: 25px;
  }

  .welcome-main-content > a {
    font-size: 30px;
  }

  .footer-container > div {
    user-select: none;
    margin-bottom: 10px;
  }

  .head-footer {
    display: flex;
    justify-content: space-around;
  }

  .footer-contain {
    display: block;
  }

  .media {
    position: absolute;
    z-index: 998;
  }

  .media > a > img {
    width: 18px;
    height: 18px;
  }

  .media-2 {
    margin-left: 22px;
    display: flex;
    justify-self: center;
    gap: 40px;
    align-items: center;
    padding-top: 8px;
  }

  .media-2 > a {
    background-color: white;
    padding: 4px;
    border-radius: 100%;
    width: 20px;
    height: 20px;
  }

  .media-2 > a > img {
    width: 20px;
    height: 20px;
  }

  .bio-content > ul {
    grid-template-columns: auto;
    gap: 20px;
  }

  .my-bio {
    height: 100vh;
  }

  .bio-content > img {
    width: 120px;
    height: 120px;
    margin-top: -35%;
  }

  .main-container {
    max-height: 80vh;
  }

  .main-container-child {
    margin-left: 0;
  }
  /* My Bio */

  .foto {
    display: none;
  }

  .main-container {
    background-image: url(Picture/fotogweh.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .extra > ul > li:first-child {
    margin-top: 20px;
  }

  #rotate1 {
    display: none;
  }

  #hidden {
    display: flex;
  }

  .hidden {
    display: none;
  }

  /* Gallery */
  .wrapper .main-1 {
    border: none;
  }
  .main-1 > img {
    width: calc(100%);
  }
}

@media (max-width: 576px) {
  .copyright {
    width: 120px;
  }

  .media-2 {
    gap: 18px;
  }

  .bio-content > ul > li {
    font-size: 120%;
    list-style-position: inside;
  }

  .brand-2 > a {
    font-size: 140%;
    margin-top: 10px;
  }

  .brand-2 > a::after {
    margin-top: 8px;
  }

  .footer-contain {
    font-size: 16px;
  }

  .footer-contain-2 {
    font-size: 16px;
  }

  .main-container-child > div > h4 {
    display: none;
  }

  .main-container-child > div > h1 {
    font-size: 5vw;
  }

  .main-container-child > p {
    font-size: 2vw;
  }
}

@media (max-width: 300px) {
  .welcome-content {
    font-size: 50%;
  }

  .media-2 {
    display: none;
  }

  .bio-content > img {
    display: none;
  }
}
